#container {
    display: grid;
    background: linear-gradient(21deg, #10abff, #1beabd);
    font-family: fantasy;
    padding-left: 20%;
    margin: 29px;
    grid-row: auto;
    grid-column: auto;
}


.titel {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

h2 {
    display: grid;
    justify-content: center;
    padding: 25px;
}
.navigation {
    display: grid;  
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
    text-align: left;
    

}
.sidebar {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.inhalt {

    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
    margin-top: 10px;
    
    
    
}

.header {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px;  
}
.eingabe {
    padding-right: 100%;
    
    
}
.eingabetext {
    padding-right: 100%;
    
   
}
.nameneingabe {
    padding: 10px;
    margin-bottom: 25px;
}
.blogtitel {
    padding: 10px;
    margin-bottom: 25px;
}
#note {
    padding: 50px;
}
#felder {
    display: grid;
    justify-content: center;
    text-align: center;
}
.bildinput {
    padding-right: 100%;
    margin-bottom: 10px;
}

.eingabebild {
    margin-bottom: 25px;
}
.bildadresse {
    padding: 10px;
    margin-bottom: 25px;
}


.blogkollegen {
    padding-top: 10px;
}
.benutzername {
    text-align: center;
}

