label {
    display: block;
}

aside {
    margin-left: 100px;
    
}

#container {
    display: grid;
    background: linear-gradient(21deg, #10abff, #1beabd);
    font-family: 'Bree Serif', serif;
    grid-template-columns: auto,auto,auto;
    grid-template-rows: auto,auto,auto;
    
}


.titel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 50px;
}

h2 {
    display: grid;
    justify-content: center;
    padding: 25px;
}
.navigation {
    display: grid;  
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: 10px;
    text-align: left;
    

}
.sidebar {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    
}

.inhalt {

    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    justify-content: center;
    
    
    
}

.header {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 10px;  
    text-align: end;
}

#felder {
    margin-bottom: 25px;
}


.blogkollegen {
    padding-top: 10px;
}

.foto {
    height: 300px;
    width: auto;

}
a:link {
    color: black;
}
a:visited {
    color: black;
}
.bildinput {
    padding-right: 100%;
    text-align: center;
    justify-content: center;

}
#posttitel {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 14px;
}

    
    
    
    /*@media only screen and (min-width: 900px and 1000px ) {
        .sidebar, .inhalt, .navigation  {
            grid-template-columns: auto,auto,auto,auto;

        }

       
      }*/


